<div class="d-flex flex-column min-vh-100" style="background:#FAFAFA;padding:30px;">
    <div class="container p-5">
        <h2>Stepper</h2>
        <sgds-stepper #stepper [activeStep]="activeStep" [steps]="stepMetadata"
            (sgds-arrived)="updateActiveStep()"></sgds-stepper>
        <section class="container p-3"
            style="background: #FFFFFF;padding: 30px 32px 30px 32px;border-radius: 5px;box-shadow: 0px 0px 25px 0px #161A1D12;box-shadow: 0px 8px 16px 0px #161A1D08;">
            <ng-template stepperHost></ng-template>
           
            <div style="display:flex;justify-content:space-between;margin-top:1rem;">
                <div>
                  <sgds-button class="me-3" variant="light"  (click)="reset()">Reset</sgds-button>
                  <sgds-button class="me-3" variant="primary" (click)="nextStep()">Next</sgds-button>
                  <sgds-button (click)="prevStep()" variant="secondary">Back</sgds-button>
                </div>
                <div>
                  <sgds-button class="m-2" variant="danger"  (click)="firstStep()">Go to first page</sgds-button>
                  <sgds-button class="m-2" variant="warning"  (click)="lastStep()">Go to last page</sgds-button>
                </div>
              </div>
        </section>
    </div>
</div>