<div class="container">
    <form>
        <sgds-input readonly type="text"
            [value]="finalDetails.firstName" label="First Name" name="firstName"
            >
        </sgds-input>
        <sgds-input readonly type="text"
            [value]="finalDetails.lastName" label="Last Name" name="lastName"
            >
        </sgds-input>
        <sgds-input readonly type="text"
            [value]="finalDetails.address" label="Address" name="address"
            >
        </sgds-input>
    </form>
</div>
